files:
  "/etc/php.d/app.ini":
    mode: "000755"
    owner: root
    group: root
    content: |
      upload_max_filesize = 10M

option_settings:
 aws:elasticbeanstalk:container:php:phpini:
   document_root: /public
   composer_options: --optimize-autoloader --no-dev
 aws:elasticbeanstalk:application:environment:
   APP_ENV: production
   APP_KEY: base64:8Y8CIbPPWpcgni8p4Xe5aTVaCRQyuk6wiGH4+gLANjY=
